<module>
	<rawname>ttsengines</rawname>
	<name>Text To Speech Engines</name>
	<version>15.0.4.4</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>AGPLv3</license>
	<licenselink>https://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<repo>standard</repo>
	<description>Allows you to configure text to speech engines</description>
	<category>Settings</category>
	<menuitems>
		<ttsengines>Text To Speech Engines</ttsengines>
	</menuitems>
    <database>
        <table name="ttsengines">
            <field name="id" type="integer" primarykey="true" autoincrement="true"/>
            <field name="name" type="string" length="50" notnull="false"/>
            <field name="path" type="string" length="255" notnull="false"/>
        </table>
    </database>
	<supported>
		<version>15.0</version>
	</supported>
	<depends>
	</depends>
	<changelog>
		*15.0.4.4* Fixing FREEPBX-19841 Delete TTS engine from main list and from edit option
		*15.0.4.3* Fixing FREEPBX-19510 Delete TTS engine from main list and from edit option
		*15.0.4.2* fixing legacy restore
		*15.0.4.1* Fix backup and restore
		*15.0.4* Add Amazon Polly
		*15.0.3* FREEPBX-18271 Update CRUD operations
		*15.0.2* Packaging of ver 15.0.2
		*15.0.1* Branch to 15, add Backup
	</changelog>
</module>